<app-toolbar></app-toolbar>

<div class="container">
  <div *ngIf="isBlocked">

    <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
      Salvar ações
    </button>

    agrupar pelo nome e trazer o valor total do lado somando tudo
    <br>
    agrupar por data
    <br>
    agrupar por entrada e saída

    nome - preço medio por material - preço total - entrada/ qtd em estoque


    nome - preço medio por material - preço total - entrada/ qtd em estoque



    <ul class="list-group">
      <li *ngFor="let cards of entriesResult; index as i">
        <div class="">
          <div class="">
            <div class="card bg-light mb-3 shadow  mb-5 bg-white rounded">
              <div *ngFor="let card of cards.value; index as xxl">
                <div *ngIf="xxl < [entriesResult.length -1]" class="card-header">{{card.name}}

                  <div class="pull-right">Estoque:{{card.stock}}</div>
                </div>
                <button *ngIf="card.expand && xxl < [entriesResult.length -1]"  (click)="closeOrExpand(card)" type="button" mat-raised-button color="accent" class="input-group-text bg-primary border-primary text-white styleHeight"
                  data-toggle="button" aria-pressed="false" autocomplete="off">
                  <mat-icon *ngIf="!card.expand">expand_more</mat-icon>
                  <mat-icon *ngIf="card.expand">expand_less</mat-icon>
                </button>
              </div>
              <!-- *ngIf="item.expand" -->
              <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="card-text">
                  <table class="">
                    <thead>
                      <tr id="">
                        <th>Tipo </th>
                        <th>Quantidade</th>
                        <th>Peso</th>
                        <th>Preço médio</th>
                        <th>Preço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-values [ngForOf]="(entriesResult | paginate: { itemsPerPage: 5, currentPage: page })" let-igroup="index">
                        <ng-template ngFor let-item [ngForOf]="(values.value)" let-igroupI="index">
                          <tr *ngIf="values.key === cards.key && item.type === 'purchase'">
                            <td>
                              <label>{{item.typeEntrie}}</label>
                            </td>

                            <td>
                              <label>{{item.quantity}}</label>
                            </td>

                            <td>
                              <label>{{item.weight}}</label>
                            </td>
                            <td>
                              <label>{{item.average |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                            <td>
                              <label>{{item.total |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>
                            <div *ngIf='igroupI < 1' class="card-body d-flex flex-column">
                              <button *ngIf="!item.expand" (click)="closeOrExpand(item)" type="button" mat-raised-button color="accent"
                                class="align-self-end input-group-text bg-primary border-primary text-white styleHeight" data-toggle="button" aria-pressed="false" autocomplete="off">
                                <mat-icon *ngIf="!item.expand">expand_more</mat-icon>
                                <mat-icon *ngIf="item.expand">expand_less</mat-icon>
                              </button>
                            </div>

                          </tr>
                          <tr *ngIf="values.key === cards.key && item.type === 'sale'">
                            <td>
                              <label>{{item.typeEntrie}}</label>
                            </td>
                            <td>
                              <label>{{item.quantity}}</label>
                            </td>

                            <td>
                              <label>{{item.weight}}</label>
                            </td>
                            <td>
                              <label>{{item.average |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                            <td>
                              <label>{{item.total |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                            <div *ngIf='igroupI <1'>
                              <button (click)="closeOrExpand(item)" type="button" mat-raised-button color="accent"
                                class="fixed-bottom align-self-end input-group-text bg-primary border-primary text-white styleHeight" data-toggle="button" aria-pressed="false" autocomplete="off">
                                <mat-icon *ngIf="!item.expand">expand_more</mat-icon>
                                <mat-icon *ngIf="item.expand">expand_less</mat-icon>
                              </button>
                            </div>
                          </tr>
                        </ng-template>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
