<app-toolbar></app-toolbar>


<div class="container">
  <div class="card mb-3 h-25">
    <div class="card-body text-muted text-center">
      <p-calendar class="text-muted" [(ngModel)]="dateFilterInitial" name="date" dateFormat="dd/mm/yy"></p-calendar>
      <mat-icon color="" class="input-icon text-muted">date_range</mat-icon>
      <p-calendar class="text-muted" [(ngModel)]="dateFilterFinal" name="date" dateFormat="dd/mm/yy"></p-calendar>
      <button class="pull-right" type="button" id="save" (click)="filterMaterial()" mat-raised-button  color="accent">
        Buscar
      </button>

    </div>
    <div class="card-footer text-muted h-25">
    </div>
  </div>
  <div *ngIf="isBlocked">
    <ul class="list-group">
      <li *ngFor="let cards of entriesResult; index as entrieIndex">
        <div *ngIf="[entriesResult.length] > entrieIndex">
          <div class="card bg-light mb-3 shadow  mb-5 bg-white rounded">
            <div *ngFor="let card of cards.value; index as cardIndex">
              <div *ngIf="cardIndex ===0" class="card-header text-muted">
                <Span class="text-uppercase"> {{card.name}}</Span>
                <div class="pull-right text-muted">Em estoque {{card.stock}} | Peso {{card.weightStock}}</div>
              </div>

              <div *ngIf="!card.expand && cardIndex ===0" class="card-body">
                <h5 class="card-title"></h5>
                <div class="card-text">
                  <table class="">
                    <thead>
                      <tr id="">
                        <th>Tipo </th>
                        <th>Quantidade</th>
                        <th>Peso</th>
                        <th>Preço médio</th>
                        <th>Preço</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-values [ngForOf]="(entriesResult | paginate: { itemsPerPage: 5, currentPage: page })" let-igroup="index">
                        <ng-template ngFor let-item [ngForOf]="(values.value)" let-igroupI="index">
                          <tr *ngIf="values.key === cards.key && item.type === 'purchase'">
                            <td>
                              <label>{{item.typeEntrie}}</label>
                            </td>

                            <td>
                              <label>{{item.quantity}}</label>
                            </td>

                            <td>
                              <label>{{item.weight}}</label>
                            </td>
                            <td>
                              <label>{{item.average |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                            <td>
                              <label>{{item.amount |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>



                          </tr>
                          <tr *ngIf="values.key === cards.key && item.type === 'sale'">
                            <td>
                              <label>{{item.typeEntrie}}</label>
                            </td>
                            <td>
                              <label>{{item.quantity}}</label>
                            </td>

                            <td>
                              <label>{{item.weight}}</label>
                            </td>
                            <td>
                              <label>{{item.average |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                            <td>
                              <label>{{item.amount |currency:'BRL':'symbol':'2.2':allowZero: true}}</label>
                            </td>

                          </tr>
                        </ng-template>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>

              <div *ngIf="cardIndex ===0" class="card-footer text-muted">
                <button class="block" *ngIf="card.expand" (click)="closeOrExpand(card)" type="button" mat-raised-button color="accent" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <mat-icon *ngIf="!card.expand">expand_more</mat-icon>
                  <mat-icon *ngIf="card.expand">expand_less</mat-icon>
                </button>
                <button *ngIf='!card.expand' class="block" (click)="closeOrExpand(card)" type="button" mat-raised-button color="accent" class="pull-left" data-toggle="button" aria-pressed="false"
                  autocomplete="off">
                  <mat-icon *ngIf="!card.expand">expand_more</mat-icon>
                  <mat-icon *ngIf="card.expand">expand_less</mat-icon>
                </button>

                <div class="pull-right text-muted text-uppercase">
                  Total {{card.total |currency:'BRL':'symbol':'2.2':allowZero: true}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
