<footer class="footer">
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <img id="reconsidere-logo" class="img-fluid" src="./assets/images/branding/reconsidere-logo.png" alt="logo-reconsidere">
    </div>
    <div class="col-lg-4">
      <img id="sinapse-logo" class="img-fluid" src="./assets/images/partner/sinapse-logo-assinatura.png" alt="logo-reconsidere">
    </div>
    <div class="col-lg-4">
      <img id="udesc-lages-logo" class="img-fluid" src="./assets/images/partner/udesc-lages-logo-assinatura.jpg" alt="logo-reconsidere">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <h6>Copyright® 2018 Éowyn Solutions - Todos os direitos reservados</h6>
    </div>
  </div>
</footer>