<app-toolbar></app-toolbar>
<div class="container-fluid">
  <div
    *ngIf="message"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>Atenção: </strong> {{ message }}
    <button
      type="button"
      (click)="closeMessage()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="tableVehicles">
    <table class="table table-sm">
      <thead>
        <tr>
          <button
            id="newVehicle"
            (click)="newVehicle()"
            type="button"
            class="btn btn-sm btn-primary"
            data-toggle="button"
            aria-pressed="false"
            autocomplete="off"
          >
            <i class="fa fa-plus"></i>
          </button>
        </tr>
        <tr id="Titles">
          <th>Placa</th>
          <th>Capacidade de Carga</th>
          <th>Peso do Veículo Vazio</th>
          <th>Combustível</th>
          <th colspan="2">Tipo Combustível</th>
          <th>Ativo</th>
          <th>Remover</th>
          <th>Salvar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let vehicle of (vehicles
              | paginate: { itemsPerPage: 5, currentPage: page })
          "
        >
          <td hidden>{{ vehicle._id }}</td>
          <td>
            <input
              required
              [(ngModel)]="vehicle.carPlate"
              name="carPlate"
              type="text"
              class="form-control"
              pattern="[a-zA-Z]{3}-[0-9]{4}"
              id="carPlate"
              aria-describedby="carPlate"
              placeholder="AAA-0000"
              mask="SSS-0000"
              (blur)="verifyPlate(vehicle, $event)"
            />
          </td>
          <td>
            <div class="input-group">
              <input
                required
                [(ngModel)]="vehicle.weightCapacity"
                name="weightCapacity"
                type="text"
                mask="000.0000"
                class="form-control"
                id="weightCapacity"
                aria-describedby="weightCapacity"
                placeholder="000.0000"
                (blur)="requiredCheck($event)"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <span>t</span>
                </span>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input
                required
                [(ngModel)]="vehicle.emptyVehicleWeight"
                name="emptyVehicleWeight"
                type="text"
                mask="000.0000"
                class="form-control"
                id="emptyVehicleWeight"
                aria-describedby="emptyVehicleWeight"
                placeholder="000.0000"
                (blur)="requiredCheck($event)"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <span>t</span>
                </span>
              </div>
            </div>
          </td>
          <td>
              <div class="input-group">
            <input
              required
              [(ngModel)]="vehicle.fuel"
              name="fuel"
              min="0"
              class="form-control"
              id="fuel"
              aria-describedby="fuel"
              type="text"
              mask="0000.00"
              placeholder="0000.00"
              (blur)="requiredCheck($event)"
            />
            <div class="input-group-append">
                <span class="input-group-text">
                  <span>l</span>
                </span>
              </div>
            </div>
          </td>
          <td colspan="2">
            <select
              required
              [(ngModel)]="vehicle.typeFuel"
              name="typeFuel"
              class="form-control"
              (blur)="requiredCheck($event)"
            >
              <option id="typeFuel" *ngFor="let item of typesFuel">{{
                item
              }}</option>
            </select>
          </td>
          <td class="custom-control custom-checkbox">
            <input
              [(ngModel)]="vehicle.active"
              name="active"
              type="checkbox"
              class="custom-control-input"
              id="active"
            />
            <label class="custom-control-label" for="active">Ativo</label>
          </td>
          <td>
            <button
              (click)="remove(vehicle._id)"
              type="button"
              class="btn btn-sm btn-danger"
              data-toggle="button"
              aria-pressed="false"
              autocomplete="off"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
          <td>
            <button
              (click)="save(vehicle)"
              type="button"
              class="btn btn-sm btn-success"
              data-toggle="button"
              aria-pressed="false"
              autocomplete="off"
            >
              <i class="fa fa-save"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
