<ol id="menu" class="breadcrumb">
  <li><a class="option nav-link text-light" routerLink="/account" routerLinkActive="active">Conta</a></li>
  <li><a class="option nav-link text-light" routerLink="/vehicle-management" routerLinkActive="active">Veículo</a></li>
  <li><a class="option nav-link text-light" routerLink="/material-management" routerLinkActive="active">Material</a></li>
  <li><a class="option nav-link text-light" routerLink="/material-summary" routerLinkActive="active">Resumo do material</a></li>
  <li><a class="option nav-link text-light" routerLink="/processing-chain-management" routerLinkActive="active">Cadeia de processamento</a></li>
  <li><a class="option nav-link text-light" routerLink="/expenses-management" routerLinkActive="active">Despesas</a></li>
  <li><a class="option nav-link text-light" routerLink="/incoming-out-management" routerLinkActive="active">Entrada e Saída</a></li>
  <li><a class="option nav-link text-light" routerLink="/scheduler" routerLinkActive="active">Rota</a></li>
  <li><a class="option nav-link text-light" routerLink="/logout" routerLinkActive="active" (click)="auth.logout()">Sair</a></li>
</ol>
