<app-toolbar></app-toolbar>
<div class="container">
    <div
    *ngIf="showMessage == true"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>Atenção: </strong> {{ msgStatus }}
    <button
      type="button"
      (click)="closeAlertMessage()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
      <div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false"
        >
          Anterior
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Hoje
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false"
        >
          Próximo
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'pt' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view = CalendarView.Month"
          [class.active]="view === CalendarView.Month"
        >
          Mês
        </div>
        <div
          class="btn btn-primary"
          (click)="view = CalendarView.Week"
          [class.active]="view === CalendarView.Week"
        >
          Semana
        </div>
        <div
          class="btn btn-primary"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day"
        >
          Dia
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
    >
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
    >
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" >
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />

  <h3>
    Rota
    <button (click)="save()" class="btn btn-success pull-right">
        <i class="fa fa-save" aria-hidden="true"></i>
      </button>

    <button class="btn btn-primary pull-right" (click)="addGeoRoute()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>

    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Agendamento</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let route of georoutes; let index = index">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="route.name"
            (keyup)="refresh.next()"
          />
        </td>

        <td>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Data inicial</th>
                <th>Data final</th>
                <th>Hora inicial</th>
                <th>Hora Final</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let schedule of route.schedules; let index = index">
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="schedule.startDate"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="Y-m-d"
                    altFormat="F j, Y"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="schedule.endDate"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="false"
                    dateFormat="Y-m-d"
                    altFormat="F j, Y"
                  />
                </td>
                <td>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="schedule.startTime"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [noCalendar]="true"
                    dateFormat="H:i"
                    altFormat="H:i"
                    defaultHour="24"
                    defaultMinute ="00"
                  />
                </td>
                <td>
                    <input
                    class="form-control"
                    type="text"
                    mwlFlatpickr
                    [(ngModel)]="schedule.endTime"
                    (ngModelChange)="refresh.next()"
                    [altInput]="true"
                    [convertModelValue]="true"
                    [enableTime]="true"
                    [noCalendar]="true"
                    dateFormat="H:i"
                    altFormat="H:i"
                    defaultHour="24"
                    defaultMinute ="00"
                  />
                </td>
                <td>
                  <button
                    (click)="route.schedules.splice(index, 1)"
                    class="btn btn-danger"
                  >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="georoutes.splice(index, 1); refresh.next()"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
