<app-toolbar></app-toolbar>
<div class="container">

  <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
    Salvar ações
  </button>


  <div class="row">
    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="form-group">
        <button *ngIf="!existMonth" id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          <mat-icon>add</mat-icon><span>Adicionar despesa referente ao mês</span>
        </button>
        <p-calendar view="month" (onSelect)="changeDate()" dateFormat="mm/yy" [yearNavigator]="true" name="dateMonth" [(ngModel)]="dateMonth" yearRange="2000:2090"></p-calendar>
      </div>
    </div>
    <div *ngIf="existMonth">
      <div class="tableExpenses">
        <table class="table-sm">
          <thead>
            <tr id="Titles">
              <th>Data entrada</th>
              <th>Custo fixo</th>
              <th>Custo variável</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p-calendar (ngModelChange)="expenses[0].date = $event" required disabled="disabled" name="date" [ngModel]="expenses[0].date| date:'dd/MM/yyyy'" dateFormat="dd/mm/yy"></p-calendar>
              </td>
              <td>
                <button id="openFixed" (click)="openFixed()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <mat-icon *ngIf="isExpand">expand_more</mat-icon>
                  <mat-icon *ngIf="!isExpand">expand_less</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
<app-fixed-cost-management #myComponentFixed></app-fixed-cost-management>