<app-toolbar></app-toolbar>

<div class="container">
  <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
    Salvar ações
  </button>

  <div class="tablePricing">
    <table class="table-sm">
      <thead>
        <tr>
          <button id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            <mat-icon>add</mat-icon>
          </button>
        </tr>
        <tr id="Titles">
          <th>Ação</th>
          <th>Tipo</th>
          <th>Nome</th>
          <th>Custo</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-item [ngForOf]="(entrieItems | paginate: { itemsPerPage: 5, currentPage: page })" igroup="index">
          <tr>
            <td>
              <select (click)="oldValue = item.type" (change)="changeType(item.type, oldValue, item)" required [(ngModel)]="item.type" name="type" class="form-control">
                <option id="type" *ngFor="let type of types">{{type}}</option>
              </select>
            </td>
            <td>
              <select required [(ngModel)]="item.typeEntrie" (change)="typeSelected(item)" name="typeEntrie" class="form-control">
                <option id="type" *ngFor="let type  of typeEntrie">{{ type }}</option>
              </select>
            </td>
            <td *ngIf="!item.isTypeMaterial">
              <input required [(ngModel)]="item.name" name="name" type="text" class="form-control" id="name" aria-describedby="name" />
            </td>
            <td *ngIf="item.isTypeMaterial">
              <select required [(ngModel)]="item.name" (change)="changeType(item)" name="type" class="form-control">
                <option> </option>
                <option id="material" [ngValue]="material.name" *ngFor="let material of itemsMaterials">{{ material.name }}</option>
              </select>
            </td>

            <td>
              <input required type="text" [ngModel]="item.cost |currency:'BRL':'symbol':'2.2':allowZero: true" name="cost" class="form-control" id="cost" aria-describedby="cost" (ngModelChange)="item.cost=$event" (focus)="oldValue = item.cost" (blur)="changePrice(oldValue, item.cost, item,$event)" [ngModelOptions]="{updateOn:'blur'}" />
            </td>
            <td>
              <p-calendar (ngModelChange)="item.date=$event" required disabled="disabled" name="date" [ngModel]="item.date | date:'dd/MM/yyyy'" dateFormat="dd/mm/yy"></p-calendar>
            </td>
          </tr>

        </ng-template>
      </tbody>
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination">
      </pagination-controls>
    </table>
  </div>
</div>