<app-toolbar></app-toolbar>
<div class="container">
  <div
    *ngIf="showMessage == true"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>Atenção: </strong> {{ msgStatus }}
    <button
      type="button"
      (click)="closeAlertMessage()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form ngNativeValidate>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="classification">Classificação</label>
          <select
            required
            [(ngModel)]="classification"
            name="classification"
            class="form-control"
            onchange="TypeOrganization(classification)"
          >
            <option id="classification" *ngFor="let item of classifications">{{
              item
            }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        required
        [(ngModel)]="email"
        name="email"
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        placeholder="usuario@email.com"
      />
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            minlength="6"
            maxlength="20"
            required
            [(ngModel)]="password"
            name="password"
            type="password"
            class="form-control"
            id="password"
            aria-describedby="password"
          />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="confirmPassword">Confirmação de senha</label>
          <input
            minlength="6"
            maxlength="20"
            required
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            aria-describedby="confirmPassword"
            (blur)="verifyPassword()"
          />
          <div *ngIf="isValidPassword == false" class="input-group is-invalid">
            Senha não coincide
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input
        required
        [(ngModel)]="cnpj"
        name="cnpj"
        type="text"
        class="form-control"
        id="cnpj"
        aria-describedby="cnpj"
        placeholder="00.000.000/0000-00"
        mask="00.000.000/0000-00"
        (blur)="verifyCNPJ()"
      />
      <div *ngIf="isValidCNPJ == false" class="input-group is-invalid">
        CNPJ inválido
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="company">Nome</label>
          <input
            required
            [(ngModel)]="company"
            name="company"
            type="text"
            class="form-control"
            id="company"
            aria-describedby="company"
          />
        </div>
      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="tradingName">Nome fantasia</label>
          <input
            required
            [(ngModel)]="tradingName"
            name="tradingName"
            type="text"
            class="form-control"
            id="tradingName"
            aria-describedby="tradingName"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="cep">CEP</label>
          <input
            required
            [(ngModel)]="cep"
            cep="ngModel"
            name="cep"
            type="text"
            class="form-control"
            id="cep"
            aria-describedby="cep"
            placeholder="00.000-000"
            mask="00.000-000"
            #cepVal
            (blur)="CEPSearch(cepVal.value)"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="publicPlace">Logradouro</label>
          <input
            required
            [(ngModel)]="publicPlace"
            name="publicPlace"
            type="text"
            class="form-control"
            id="publicPlace"
            aria-describedby="publicPlace"
          />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="neighborhood">Bairro</label>
          <input
            required
            [(ngModel)]="neighborhood"
            name="neighborhood"
            type="text"
            class="form-control"
            id="neighborhood"
            aria-describedby="neighborhood"
          />
        </div>
      </div>
      <div class="col-xl-1 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="number">Número</label>
          <input
            required
            [(ngModel)]="number"
            name="number"
            type="number"
            class="form-control"
            id="number"
            numbers-only
            aria-describedby="number"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="county">Município</label>
          <input
            required
            [(ngModel)]="county"
            name="county"
            type="text"
            class="form-control"
            id="county"
            aria-describedby="county"
          />
        </div>
      </div>
      <div class="col-xl-1 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="state">UF</label>
          <input
            required
            [(ngModel)]="state"
            name="state"
            type="text"
            class="form-control"
            id="state"
            numbers-only
            aria-describedby="state"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="complement">Complemento</label>
          <input
            required
            [(ngModel)]="complement"
            name="complement"
            type="text"
            class="form-control"
            id="complement"
            aria-describedby="complement"
          />
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="phone">Telefone</label>
          <input
            required
            [(ngModel)]="phone"
            name="phone"
            type="text"
            class="form-control"
            id="phone"
            aria-describedby="phone"
            placeholder="(00) 0000-0000"
            mask="(00) 0000-0000"
          />
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="cellPhone">Celular</label>
          <input
            required
            [(ngModel)]="cellPhone"
            name="cellPhone"
            type="text"
            class="form-control"
            id="cellPhone"
            aria-describedby="cellPhone"
            placeholder="(00) 00000-0000"
            mask="(00) 00000-0000"
          />
        </div>
      </div>
    </div>
    <div>
      <button
        type="submit"
        id="save"
        (click)="save()"
        class="btn btn-primary col-md-12"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
