#container {
  overflow: auto !important;
}

.card{
  margin-bottom: 20px;
}

.example-margin {
  margin: 10px;
  margin-left: 30px;
}

.spacingCard{
  margin-top: 30px;
}

.marginterms{
    margin: 10px;
}

.spacingText{
  margin-right: 1px;
  font-size: 15px;
}

.centered{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
