<app-toolbar></app-toolbar>

<div class="container">
  <div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Atenção: </strong> {{ message }}
    <button type="button" (click)="closeMessage()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="isBlocked">

    <button type="button" id="save" (click)="save()" mat-raised-button class="col-md-2 pull-right" color="primary">
      Salvar ações
    </button>

    <div class="tablePricing">
      <table class="table-sm">
        <thead>
          <tr id="Titles">
            <th>Material</th>
            <th>Valor unitário</th>
            <th>Peso</th>
            <th>Data entrada</th>
            <th>Preço final</th>
          </tr>
        </thead>
        <tbody>

          <ng-template ngFor let-item [ngForOf]="(materials | paginate: { itemsPerPage: 5, currentPage: page })" let-igroup="index">
            <tr>
              <td>
                <input required [(ngModel)]="item.name" name="name" type="text" class="form-control" id="name" aria-describedby="name" disabled="disabled" />
              </td>
              <td>
                <input required disabled="disabled" [ngModel]="item.pricing.unitPrice[item.pricing.unitPrice.length - 1] |currency:'BRL':'symbol':'2.2':allowZero: true"
                  (ngModelChange)="item.pricing.unitPrice[item.pricing.unitPrice.length - 1]=$event" name="unitPrice" type="text" class="form-control" id="unitPrice" aria-describedby="unitPrice" />
              </td>
              <td>
                <input [disabled]="item.pricing.disabled" required [(ngModel)]="item.pricing.weight" name="weight" (blur)="calculatePrice(item)" type="number" class="form-control" id="weight"
                  aria-describedby="weight" />
              </td>
              <td>
                <p-calendar required disabled="disabled" name="dateEntry" [(ngModel)]="item.pricing.dateEntry" dateFormat="dd/mm/yy"></p-calendar>
              </td>
              <td>
                <input required disabled="disabled" [ngModel]="item.pricing.price |currency:'BRL':'symbol':'2.2':allowZero: true" name="price" type="text" (ngModelChange)="item.pricing.price = $event"
                  class="form-control" id="price" aria-describedby="price" />
              </td>
            </tr>

          </ng-template>
        </tbody>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination"></pagination-controls>
      </table>
    </div>
  </div>

</div>
