<form-header></form-header>
<form class="container">

  <section id="heading">
  </section>

  <section id="responsavel">
    <div class="form-group">
      <h1 class="display-4">Principal Responsável</h1>
      <hr>
      <label for="name">Nome completo</label>
      <input class="form-control" type="text" id="name" />
    </div>
  </section>

  <section id="contact">
    <h1 class="display-4">Contato</h1>
    <hr>
    <div class="row">
      <div class="col-6 form-group">
        <label for="email">E-mail</label>
        <input class="form-control" type="email" id="email" />
      </div>

      <div class="col-3 form-group">
        <label for="phone">Telefone</label>
        <input class="form-control" type="text" id="phone" />
      </div>

      <div class="col-3 form-group">
        <label for="cel">Celular</label>
        <input class="form-control" type="text" id="cel" />
      </div>
    </div>
  </section>

  <section id="other">
    <div class="form-group">
      <h1 class="display-4">Outros moradores</h1>
      <hr>
      <div class="row">
        <div class="col-8">
          <label for="other1">Nome completo</label>
          <input class="form-control" type="text" id="other1" />
        </div>
        <div class="col-4">
          <label for="other1-cel">Telefone</label>
          <input class="form-control" type="text" id="other1-cel" />
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <label for="other2">Nome completo</label>
          <input class="form-control" type="text" id="other2" />
        </div>
        <div class="col-4">
          <label for="other2-cel">Telefone</label>
          <input class="form-control" type="text" id="other2-cel" />
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <label for="other3">Nome completo</label>
          <input class="form-control" type="text" id="other3" />
        </div>
        <div class="col-4">
          <label for="other3-cel">Telefone</label>
          <input class="form-control" type="text" id="other3-cel" />
        </div>
      </div>
    </div>
  </section>

  <section id="address">
    <h1 class="display-4">Endereço</h1>
    <hr>
    <div class="row">
      <div class="col-3 form-group">
        <label for="cep">CEP</label>
        <input class="form-control" type="text" id="cep" />
      </div>

      <div class="col-9 form-group">
        <label for="street">Rua</label>
        <input class="form-control" type="text" id="street" />
      </div>
    </div>

    <div class="row">
      <div class="col-1 form-group">
        <label for="number">Número</label>
        <input class="form-control" type="text" id="number" />
      </div>

      <div class="col-6 form-group">
        <label for="complemento">Complemento</label>
        <input class="form-control" type="text" id="complemento" />
      </div>

      <div class="col-5 form-group">
        <label for="neighborhood">Bairro</label>
        <input class="form-control" type="text" id="neighborhood" />
      </div>
    </div>

    <div class="row">
      <div class="col-5 form-group">
        <label for="city">Cidade</label>
        <input class="form-control" type="text" id="city" />
      </div>

      <div class="col-4 form-group">
        <label for="state">Estado</label>
        <input class="form-control" type="text" id="state" />
      </div>

      <div class="col-3 form-group">
        <label for="country">País</label>
        <input class="form-control" type="text" id="country" />
      </div>
    </div>
  </section>

  <section id="dificult">
    <h1 class="display-4">Questionário</h1>
    <hr>
    Tenho grande dificultade em descartar:
    <mat-slide-toggle>Recicláveis</mat-slide-toggle>
    <mat-slide-toggle>Não Recicláveis</mat-slide-toggle>
    <mat-slide-toggle>Compostáveis</mat-slide-toggle>
    <mat-slide-toggle>Eletrônicos</mat-slide-toggle>
    <mat-slide-toggle>Perigosos</mat-slide-toggle>
  </section>

  <form-footer></form-footer>
</form>
