<!-- <app-header></app-header> -->
<form class="container">
  <section id="responsavel">
    <div class="form-group">
      <label for="name">Responsável</label>
      <input class="form-control" type="text" id="name" />
    </div>

  </section>

  <section id="contact">
    <div class="row">
      <div class="col-6 form-group">
        <label for="email">E-mail</label>
        <input class="form-control" type="email" id="email" />
      </div>

      <div class="col-3 form-group">
        <label for="phone">Telefone</label>
        <input class="form-control" type="text" id="phone" />
      </div>

      <div class="col-3 form-group">
        <label for="cel">Celular</label>
        <input class="form-control" type="text" id="cel" />
      </div>
    </div>
  </section>

  <section id="address">

    <div class="row">
      <div class="col-3 form-group">
        <label for="cep">CEP</label>
        <input class="form-control" type="text" id="cep" />
      </div>

      <div class="col-9 form-group">
        <label for="street">Rua</label>
        <input class="form-control" type="text" id="street" />
      </div>
    </div>

    <div class="row">
      <div class="col-1 form-group">
        <label for="number">Número</label>
        <input class="form-control" type="text" id="number" />
      </div>

      <div class="col-6 form-group">
        <label for="complemento">Complemento</label>
        <input class="form-control" type="text" id="complemento" />
      </div>

      <div class="col-5 form-group">
        <label for="neighborhood">Bairro</label>
        <input class="form-control" type="text" id="neighborhood" />
      </div>
    </div>

    <div class="row">
      <div class="col-5 form-group">
        <label for="city">Cidade</label>
        <input class="form-control" type="text" id="city" />
      </div>

      <div class="col-4 form-group">
        <label for="state">Estado</label>
        <input class="form-control" type="text" id="state" />
      </div>

      <div class="col-3 form-group">
        <label for="country">País</label>
        <input class="form-control" type="text" id="country" />
      </div>
    </div>
  </section>
  <section id="requirements">
    <div class="row">
      <div class="col-12">
        <input type="checkbox" class="form-check-input" id="commitment-term">
        <label class="form-check-label" for="commitment-term">Eu, aceito o <a
            href="http://blog.reconsidere.online/termo-de-compromisso-residencial">Termo
            de Compromisso</a>.</label>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <button class="form-control btn btn-success" type="submit">Registrar</button>
      </div>
    </div>
  </section>

  <section id="">
    Tenho grande dificultade em descartar:
    <div class="row">
      <div class="col-3">
        <div class="anil_nepal">
          <label class="switch switch-left-right">
            <input id="reciclaveis" type="checkbox" class="switch-input">
          </label>
          <span class="switch-label" data-on="On" data-Off="Off"></span>
          <span class="switch-handle"></span>Recicláveis
        </div>
      </div>

      <div class="col-3">
        <div class="anil_nepal">
          <label class="switch switch-left-right">
            <input id="reciclaveis" type="checkbox" class="switch-input">
          </label>
          <span class="switch-label" data-on="On" data-Off="Off"></span>
          <span class="switch-handle"></span>Compostáveis
        </div>
      </div>

      <div class="col-3">
        <div class="anil_nepal">
          <label class="switch switch-left-right">
            <input id="reciclaveis" type="checkbox" class="switch-input">
          </label>
          <span class="switch-label" data-on="On" data-Off="Off"></span>
          <span class="switch-handle"></span>Não recicláveis
        </div>
      </div>

      <div class="col-3">
        <div class="anil_nepal">
          <label class="switch switch-left-right">
            <input id="reciclaveis" type="checkbox" class="switch-input">
          </label>
          <span class="switch-label" data-on="On" data-Off="Off"></span>
          <span class="switch-handle"></span>Perigosos
        </div>
      </div>
    </div>

  </section>
</form>
