<div class="container">
    <form>
      <div class="form-group">
        <label for="lblEmail">Email</label>
        <input [(ngModel)]="emailText" #email="ngModel" name="emailName"  type="email" class="form-control" id="lblEmail" aria-describedby="email" placeholder="usuario@email.com">
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblPassword">Senha</label>
          <input [(ngModel)]="passwordText" #password="ngModel" name="passwordName" type="password" class="form-control" id="lblPassword" aria-describedby="senha">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblConfirmPassword">Confirmação de senha</label>
          <input [(ngModel)]="confirmPasswordText" #confirmPassword="ngModel" name="confirmName" type="password" class="form-control" id="lblConfirmPassword" aria-describedby=" confirmar senha">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lblCNPJ">CNPJ</label>
        <input [(ngModel)]="cnpjText" #cnpj="ngModel" name="cnpjName" type="text" class="form-control" id="lblCNPJ" aria-describedby="CNPJ" placeholder="00.000.000/0000-00"
          mask='00.000.000/0000-00'>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblFantasyName">Nome fantasia</label>
            <input [(ngModel)]="fantasyNameText" #fantasyName="ngModel" name="fantasyName" type="text" class="form-control" id="lblFantasyName" aria-describedby="Nome fantasia">
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblClassification">Classificação</label>
            <select [(ngModel)]="classification"  name="classification" class="form-control">
            <option   id="lblClassification" *ngFor="let item of classifications">{{item}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblCEP">CEP</label>
            <input [(ngModel)]="cepText" #cep="ngModel" name="cepName" type="text" class="form-control" id="lblCEP" aria-describedby="CEP" placeholder="00.000-000" mask='00.000-000'
              #cep (blur)="CEPSearch(cep.value)">
          </div>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblPublicPlace">Logradouro</label>
            <input [(ngModel)]="publicPlaceText" #publicPlace="ngModel" name="publicName" type="text" class="form-control" id="lblPublicPlace" value={{result.publicPlace}} aria-describedby="Logradouro">
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblNeighborhood">Bairro</label>
            <input [(ngModel)]="neighborhoodText" #neighborhood="ngModel" name="neighborName" type="text" class="form-control" id="lblNeighborhood" value={{result.neighborhood}} aria-describedby="Bairro">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblNumber">Número</label>
            <input [(ngModel)]="numberText" #number="ngModel" name="numberName" type="text" class="form-control" id="lblNumber" value={{result.number}} numbers-only
              aria-describedby="Número">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblCounty">Município</label>
            <input [(ngModel)]="countyText"  #county="ngModel" name="countyName" type="text" class="form-control" id="lblCounty" value={{result.county}} aria-describedby="Município">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblUF">UF</label>
            <input [(ngModel)]="stateText" #state="ngModel" name="ufName" type="text" class="form-control" id="lblUF" value={{result.state}} numbers-only aria-describedby="UF">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblComplement">Complemento</label>
            <input [(ngModel)]="complementText" #complement="ngModel" name="complementName" type="text" class="form-control" id="lblComplement" value={{result.complement}} aria-describedby="Complemento">
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblPhone">Telefone</label>
            <input [(ngModel)]="phoneText" #phone="ngModel" name="phoneName" type="text" class="form-control" id="lblPhone" aria-describedby="Telefone" placeholder="(00) 0000-0000"
              mask='(00) 0000-0000'>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group">
            <label for="lblCellPhone">Celular</label>
            <input [(ngModel)]="cellPhoneText" #cellPhone="ngModel" name="cellName" type="text" class="form-control" id="lblCellPhone" aria-describedby="Celular" placeholder="(00) 00000-0000"
              mask='(00) 00000-0000'>
          </div>
        </div>
      </div>
      <div>
          <button type="submit" id="btnSave" (click)="save()"    class="btn btn-primary col-md-12">Salvar</button>
      </div>
    </form>
  </div>