#imageLogo {
  width: 64px;
  height: 64px;
}

.wrapper {
  margin-top: 120px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

.input-group {
  height: 45px;
  margin-bottom: 15px;
  border-radius: 0px;
}
.form-control {
  height: 45px;
}



#sizing-addon1{
  font-size: 25px;
  margin-right: 8px;
}

.styleMargin{
  margin-left: 30px;
}
