
#imageLogo {
  width: 64px;
  height: 64px;
}


.wrapper{
  margin-top: 120px;
}
.form-signin{
max-width: 420px;
padding: 30px 38px 66px;
margin: 0 auto;
border: 1px solid #cccccc;
}
.input-group{
  height: 45px;
  margin-bottom: 15px;
  border-radius: 0px;
  color: #60B99A;
}
.form-control{
  height: 45px;
  color: #60B99A;
}
.input-group:hover span i{
  color: #60B99A;
}


.bol{
  position: relative;
  margin-top: -40px;
  color: #60B99A;
}
#imageLogo {
  width: 64px;
  height: 64px;
}

#sizing-addon1{
  font-size: 25px;
  margin-right: 8px;
}


.alignCenter{
  margin-top: 120px;
  margin-left: 0px;
}

.marginStyle{
  margin-top: 15px;
}