<app-toolbar></app-toolbar>
<div class="container">
  <div
    *ngIf="showMessage == true"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>Atenção: </strong> {{ msgStatus }}
    <button
      type="button"
      (click)="closeAlertMessage()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="tableVehicles">
    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th>Placa</th>
          <th>Capacidade de Carga</th>
          <th>Peso do Veículo Vazio</th>
          <th>Combustível</th>
          <th>Tipo Combustível</th>
          <th>Ativo</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of (vehicles
              | paginate: { itemsPerPage: 2, currentPage: p });
            let i = index
          "
        >
          <td>{{ item.carPlate }}</td>
          <td>{{ item.weightCapacity }}</td>
          <td>{{ item.emptyVehicleWeight }}</td>
          <td>{{ item.fuel }}</td>
          <td>{{ item.typeFuel }}</td>
          <td>{{ item.active }}</td>
          <td><i (click)="loadValuesForEdit()" class="fa fa-edit"></i></td>
        </tr>
      </tbody>
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="Anterior"
        nextLabel="Próxima"
        autoHide="true"
        responsive="true"
        screenReaderPaginationLabel="Pagination"
      ></pagination-controls>
    </table>
  </div>

  <form ngNativeValidate>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="carPlate">Placa</label>
          <input
            required
            [(ngModel)]="carPlate"
            name="carPlate"
            type="text"
            class="form-control"
            pattern="[a-zA-Z]{3}-[0-9]{4}"
            id="carPlate"
            aria-describedby="carPlate"
            placeholder="AAA-0000"
            mask="SSS-0000"
          />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="weightCapacity">Capacidade de Carga</label>
          <input
            required
            [(ngModel)]="weightCapacity"
            [value]="weightCapacity"
            name="weightCapacity"
            type="number"
            class="form-control"
            id="weightCapacity"
            aria-describedby="weightCapacity"
            placeholder="0.0"
          />
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="fuel">Combustível</label>
          <input
            required
            [(ngModel)]="fuel"
            name="fuel"
            type="number"
            class="form-control"
            id="fuel"
            aria-describedby="fuel"
            placeholder="0.0"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="fuel">Tipo Combustível</label>
          <select
            required
            [(ngModel)]="typeFuel"
            name="typeFuel"
            class="form-control"
          >
            <option id="typeFuel" *ngFor="let item of typesFuel">{{
              item
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-group">
          <label for="weightCapacity">Peso do Veículo Vazio</label>
          <input
            required
            [(ngModel)]="emptyVehicleWeight"
            [value]="emptyVehicleWeight"
            name="emptyVehicleWeight"
            type="number"
            class="form-control"
            id="emptyVehicleWeight"
            aria-describedby="emptyVehicleWeight"
            placeholder="0.0"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-1 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="form-check form-group">
          <input
            [(ngModel)]="active"
            name="active"
            class="form-control"
            type="checkbox"
            class="form-check-input"
            id="active"
          />
          <label class="form-check-label" for="active">Ativo</label>
        </div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        id="save"
        (click)="save()"
        class="btn btn-primary col-md-12"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
