<div *ngIf="!isHidden">
  <div class="card">
    <div class="card-header"> <button id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false"
        autocomplete="off">
        <mat-icon>add</mat-icon><span>Adicionar custo varivável</span>
      </button></div>
    <div class="card-body">
      <div class="row">
        <div class="tableInconstant">
          <table class="table-sm">
            <thead>
              <tr id="Titles">
                <th>Nome</th>
                <th>Descrição</th>
                <th>Custo</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="(expenses[0].inconstant | paginate: { itemsPerPage: 5, currentPage: page })" igroup="index">
                <tr>
                  <td>
                    <input required [(ngModel)]="item.name" name="name" type="text" class="form-control" id="name" aria-describedby="name" />
                  </td>
                  <td>
                    <input required [(ngModel)]="item.description" name="description" type="text" class="form-control" id="description" aria-describedby="description" />
                  </td>
                  <td>
                    <input required type="text" [ngModel]="item.cost |currency:'BRL':'symbol':'2.2':allowZero: true" name="cost" class="form-control" id="cost" aria-describedby="cost"
                      (ngModelChange)="item.cost=$event" (focus)="oldValue = item.cost" (blur)="changePrice(oldValue, item.cost, item,$event)" [ngModelOptions]="{updateOn:'blur'}" />
                  </td>

                </tr>
              </ng-template>
            </tbody>
            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination">
            </pagination-controls>
          </table>
        </div>
      </div>
    </div>
  </div>
