element.style {
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped:not(.dx-scheduler-agenda) .dx-scheduler-date-table-cell {
    border-left: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-work-space-grouped.dx-scheduler-agenda .dx-scheduler-group-row th, .dx-scheduler-work-space-grouped.dx-scheduler-work-space-vertical-grouped .dx-scheduler-group-row th, .dx-scheduler-work-space-grouped.dx-scheduler-timeline .dx-scheduler-group-row th, .dx-scheduler-work-space-grouped.dx-scheduler-agenda .dx-scheduler-last-group-cell, .dx-scheduler-work-space-grouped.dx-scheduler-work-space-vertical-grouped .dx-scheduler-last-group-cell, .dx-scheduler-work-space-grouped.dx-scheduler-timeline .dx-scheduler-last-group-cell {
    border-right: 1px solid rgba(221, 221, 221, 0.6);
    border-left: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-work-space-grouped .dx-scheduler-group-row th, .dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-last-group-cell {
    border-right: 1px solid #aaaaaa;
}
.dx-scheduler-work-space.dx-scheduler-work-space-grouped .dx-scheduler-date-table-cell {
    border-left: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-timeline .dx-scheduler-date-table .dx-scheduler-date-table-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: inherit;
}
.dx-scheduler-timeline .dx-scheduler-date-table-cell {
    border-right: none;
}
.dx-scheduler-timeline .dx-scheduler-header-panel-cell:not(.dx-scheduler-header-panel-week-cell), .dx-scheduler-timeline .dx-scheduler-date-table-cell {
    width: 200px;
}
.dx-scheduler-date-table-cell {
    border-left: 1px solid rgba(221, 221, 221, 0.6);
    border-right: 1px solid rgba(221, 221, 221, 0.6);
}
.dx-scheduler-date-table-cell {
    height: 50px;
}
.dx-scheduler-date-table-cell {
    border-left: 1px solid rgba(221, 221, 221, 0.6);
    border-right: 1px solid rgba(221, 221, 221, 0.6);
    height: 50px;
}
.dx-scheduler-date-table-cell, .dx-scheduler-header-panel-cell, .dx-scheduler-time-panel-cell, .dx-scheduler-group-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    cursor: default;
}
.dx-scheduler-date-table-cell {
    border-top: 1px solid rgba(221, 221, 221, 0.6);
    height: 50px;
}
.dx-widget, .dx-widget:before, .dx-widget:after, .dx-widget *, .dx-widget *:before, .dx-widget *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.dx-scheduler-timeline .dx-scheduler-date-table .dx-scheduler-date-table-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.dx-scheduler-timeline .dx-scheduler-date-table tbody {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 100px;
}
.dx-scheduler-timeline .dx-scheduler-date-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.dx-scheduler-timeline .dx-scheduler-date-table {
    border-spacing: 0;
    border-collapse: separate;
    margin-left: 0;
}
.dx-scheduler-date-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    float: left;
    margin-left: -100px;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.dx-scrollable-container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.dx-widget {
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    line-height: 1.35715;
}
.dx-widget {
    display: block;
    -ms-content-zooming: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    padding: 0;
    outline: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.dx-widget {
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    line-height: 1.35715;
}
.dx-widget {
    display: block;
    -ms-content-zooming: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    padding: 0;
    outline: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.dx-theme-generic-typography {
    background-color: #fff;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    line-height: 1.35715;
}
.dx-widget, .dx-widget:before, .dx-widget:after, .dx-widget *, .dx-widget *:before, .dx-widget *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dx-widget, .dx-widget:before, .dx-widget:after, .dx-widget *, .dx-widget *:before, .dx-widget *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
