<app-toolbar></app-toolbar>
<div class="container">
  <div
    *ngIf="message"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <strong>Atenção: </strong> {{ message }}
    <button
      type="button"
      (click)="closeMessage()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="tableScheduler">
    <table class="table table-sm">
      <thead>
        <tr>
          <button
            id="newRoute"
            (click)="newRoute()"
            type="button"
            class="btn btn-sm btn-primary"
            data-toggle="button"
            aria-pressed="false"
            autocomplete="off"
          >
            <i class="fa fa-plus"></i>
          </button>
        </tr>
        <tr id="Titles">
          <th>Nome</th>
          <th colspan="2"></th>
          <th>Veículo</th>
          <th>Data inicial</th>
          <th>Data final</th>
          <th>Hora inicial</th>
          <th>Hora final</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <ng-template
          ngFor
          let-route
          [ngForOf]="
            georoutes | paginate: { itemsPerPage: 5, currentPage: page }
          "
          let-i="index"
        >
          <tr>
            <td hidden>{{ route._id }}</td>
            <td colspan="2">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="route.name"
                required
              />
            </td>
            <td class="tdStyle">
              <button
                (click)="expand(route)"
                type="button"
                class="btn btn-sm btn-primary ml-1"
                data-toggle="button"
                aria-pressed="false"
                autocomplete="off"
              >
                <i class="fa fa-caret-down"></i>
              </button>
              <button
                (click)="addScheduler(route)"
                type="button"
                class="btn btn-sm btn-primary ml-1"
                data-toggle="button"
                aria-pressed="false"
                autocomplete="off"
              >
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
          <ng-template ngFor let-group [ngForOf]="groupList" let-igroup="index">
            <tr *ngIf="route.expand">
              <td colspan="3"></td>
              <td
                class="titleGroup"
                [attr.rowspan]="group.rowsVehicle"
                *ngIf="!group.matchPreviousRowVehicle"
              >
                {{ group.vehicle._id }}
              </td>
              <td
                class="titleGroup"
                [attr.rowspan]="group.rowsStartDate"
                *ngIf="!group.matchPreviousRowStartDate"
              >
                <!-- [attr.rowspan]="group.rows" -->
                {{ group.startDate | date: 'dd/MM/yyyy' }}
              </td>
              <td
                class="titleGroup"
                [attr.rowspan]="group.rowsEndDate"
                *ngIf="!group.matchPreviousRowEndDate"
              >
                {{ group.endDate | date: 'dd/MM/yyyy' }}
              </td>
              <!-- <td>
                <p-calendar
                  name="startTime"
                  pattern="HH:mm"
                  timeOnly="true"
                  (ngModelChange)="group.startTime = $event"
                  [ngModel]="group.startTime | dateconvert"
                  hourFormat="24"
                  [readonlyInput]="true"
                  required
                ></p-calendar>
              </td>
              <td>
                <p-calendar
                  name="endTime"
                  pattern="HH:mm"
                  timeOnly="true"
                  (ngModelChange)="group.endTime = $event"
                  [ngModel]="group.endTime | dateconvert"
                  showTime="true"
                  hourFormat="24"
                  [readonlyInput]="true"
                  required
                ></p-calendar>
              </td> -->
              <!-- <td class="titleGroup">

                {{ group.startDate | date: 'dd/MM/yyyy' }}
              </td> -->
            </tr>
          </ng-template>
          <!-- <td
                class="titleGroup"
                [attr.rowspan]="route.schedules | groupby: 'startDate'"
                *ngIf="igroup == 0"
              >
                {{ schedule.startDate | date: 'dd/MM/yyyy' }}
              </td>
              <td
                class="titleGroup"
                [attr.rowspan]="route.schedules | groupby: 'endDate'"
                *ngIf="igroup == 0"
              >
                {{ schedule.endDate | date: 'dd/MM/yyyy' }}
              </td> -->
          <!-- <td  class="titleGroup" rowspan="4" *ngIf="igroup == 0">
                  <p-calendar
                    name="startDate"
                    dateFormat="dd/mm/yy"
                    (ngModelChange)="schedule.startDate = $event"
                    [ngModel]="schedule.startDate | dateconvert"
                    [minDate]="minDateValue"
                    [maxDate]="maxDateValue"
                    [readonlyInput]="true"
                    required
                  ></p-calendar>
                </td> -->
          <!-- <td  class="titleGroup" [attr.rowspan]="group.value.length" *ngIf="igroup == 0">
                    {{group.key | date:'dd/MM/yyyy'}}
                </td> -->
          <!-- <td>
                <p-calendar
                  name="endDate"
                  dateFormat="dd/mm/yy"
                  (ngModelChange)="schedule.endDate = $event"
                  [ngModel]="schedule.endDate | dateconvert"
                  [minDate]="minDateValue"
                  [maxDate]="maxDateValue"
                  [readonlyInput]="true"
                  required
                ></p-calendar>
              </td>
            <td>
                <select required [(ngModel)]="schedule.vehicle" name="vehicle">
                  <option id="vehicle" *ngFor="let item of vehicles">{{
                    item.carPlate
                  }}</option>
                </select>
              </td>

            -->
          <!-- <td>
                <p-calendar
                  name="startTime"
                  pattern="HH:mm"
                  timeOnly="true"
                  (ngModelChange)="schedule.startTime = $event"
                  [ngModel]="schedule.startTime | dateconvert"
                  hourFormat="24"
                  [readonlyInput]="true"
                  required
                ></p-calendar>
              </td>
              <td>
                <p-calendar
                  name="endTime"
                  pattern="HH:mm"
                  timeOnly="true"
                  (ngModelChange)="schedule.endTime = $event"
                  [ngModel]="schedule.endTime | dateconvert"
                  showTime="true"
                  hourFormat="24"
                  [readonlyInput]="true"
                  required
                ></p-calendar>
              </td>

              <td>
                <button
                  (click)="removeSchedule(schedule)"
                  type="button"
                  class="btn btn-sm btn-danger"
                  data-toggle="button"
                  aria-pressed="false"
                  autocomplete="off"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td> -->

          <!-- <tr *ngIf="route.expand">
            <td colspan="9">
              <button
                type="submit"
                id="save"
                (click)="save(route)"
                class="btn btn-success col-md-12"
              >
                Salvar
              </button>
            </td>
          </tr>
          <tr *ngIf="route.expand">
            <td colspan="9">
              <button
                type="submit"
                id="remove"
                (click)="remove(route)"
                class="btn btn-danger col-md-12"
              >
                Remover rota
              </button>
            </td>
          </tr> -->
        </ng-template>
      </tbody>
      <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Anterior"
        nextLabel="Próxima"
        autoHide="true"
        responsive="true"
        screenReaderPaginationLabel="Pagination"
      ></pagination-controls>
    </table>
  </div>
</div>
