.titleGroup {
    vertical-align: middle;
    text-align: center;

  }

  .inputFilter {
    padding-top: 8.5px;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
  }
  .input-icon{
    position: absolute;
    left: 3px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
  }
  input{
    display: flex;
    padding-left: 17px;
  }
  .input-wrapper{
    position: relative;
  }



