<div class="container">
  <div *ngIf="!isHidden">
    <div class="card">
      <div class="card-header">Custo fixo</div>
      <div class="card-body">
        <div class="row">
          <div class="tableFixedCost">
            <table class="table-sm">
              <thead>
                <tr>
                  <button id="newItem" (click)="newItem()" type="button" mat-raised-button color="accent" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <mat-icon>add</mat-icon><span>Adicionar custo fixo</span>
                  </button>
                </tr>
                <tr id="Titles">
                  <th>Tipo</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Custo</th>
                  <th>Data entrada</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of (expenses[0].fixed | paginate: { itemsPerPage: 5, currentPage: page })" igroup="index">
                  <td>
                    <select required [(ngModel)]="item.typeExpense" name="typeExpense" class="form-control">
                      <option id="type" *ngFor="let type  of types">{{ type }}</option>
                    </select>
                  </td>
                  <td>
                    <input required [(ngModel)]="item.name" name="name" type="text" class="form-control" id="name" aria-describedby="name" />
                  </td>
                  <td>
                    <input required [(ngModel)]="item.description" name="name" type="text" class="form-control" id="description" aria-describedby="description" />
                  </td>
                  <td>
                    <input required type="text" [ngModel]="item.cost |currency:'BRL':'symbol':'2.2':allowZero: true" name="cost" class="form-control" id="cost" aria-describedby="cost"
                      (ngModelChange)="item.cost=$event" (focus)="oldValue = item.cost" (blur)="changePrice(oldValue, item.cost, item,$event)"  [ngModelOptions]="{updateOn:'blur'}"/>
                  </td>
                  <td>
                    <p-calendar (ngModelChange)="item.date=$event" required disabled="disabled" name="date" [ngModel]="item.date | date:'dd/MM/yyyy'" dateFormat="dd/mm/yy"></p-calendar>
                  </td>
                </tr>

              </tbody>
              <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Próxima" autoHide="true" responsive="true" screenReaderPaginationLabel="Pagination">
              </pagination-controls>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
